In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('processed.csv')
df

,Unnamed: 0,state_code,zip_code,city,name,founded_at,closed_at,first_funding_at,last_funding_at,age_first_funding_year,...,avg_participants,is_top500,status,closed_at_year,closed_at_month,yyyy,mm,month_name,first_funding_at_year,first_funding_at_month
0,0,CA,92101,San Diego,Bandsintown,2007-01-01,2024-11-22,2009-04-01,2010-01-01,2.2493,...,1.0000,0,1,2024,11,2010,1,Jan,2009,4
1,1,CA,95032,Los Gatos,TriCipher,2000-01-01,2024-11-22,2005-02-14,2009-12-28,5.1260,...,4.7500,1,1,2024,11,2009,12,Dec,2005,2
2,2,CA,92121,San Diego,Plixi,2009-03-18,2024-11-22,2010-03-30,2010-03-30,1.0329,...,4.0000,1,1,2024,11,2010,3,Mar,2010,3
3,3,CA,95014,Cupertino,Solidcore Systems,2002-01-01,2024-11-22,2005-02-17,2007-04-25,3.1315,...,3.3333,1,1,2024,11,2007,4,Apr,2005,2
4,4,CA,94105,San Francisco,Inhale Digital,2010-08-01,2012-01-10,2010-08-01,2012-04-01,0.0000,...,1.0000,1,0,2012,1,2012,4,Apr,2010,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
918,918,CA,94107,San Francisco,CoTweet,2009-01-01,2024-11-22,2009-07-09,2009-07-09,0.5178,...,6.0000,1,1,2024,11,2009,7,Jul,2009,7
919,919,MA,1803,Burlington,Reef Point Systems,1998-01-01,2024-11-22,2005-04-01,2007-03-23,7.2521,...,2.6667,1,0,2024,11,2007,3,Mar,2005,4
920,920,CA,94089,Sunnyvale,Paracor Medical,1999-01-01,2024-11-22,2007-06-29,2007-06-29,8.4959,...,8.0000,1,0,2024,11,2007,6,Jun,2007,6
921,921,CA,94404,San Francisco,Causata,2009-01-01,2024-11-22,2009-10-05,2011-11-01,0.7589,...,1.0000,1,1,2024,11,2011,11,Nov,2009,10
922,922,CA,95054,Santa Clara,Asempra Technologies,2003-01-01,2024-11-22,2006-02-13,2006-02-13,3.1205,...,3.0000,1,1,2024,11,2006,2,Feb,2006,2

In [3]:
df2 = df.drop(['Unnamed: 0','state_code','zip_code','city','name','founded_at','last_funding_at','age_first_funding_year','is_CA','is_NY','is_MA','is_TX','category_code','is_software','is_web','is_mobile',
                'is_enterprise','is_advertising','is_gamesvideo','is_ecommerce','is_biotech','is_consulting','is_othercategory','has_VC','has_angel','yyyy','mm','month_name','closed_at','first_funding_at','first_funding_at_month'],axis = 1)

In [4]:
df2

,age_last_funding_year,age_first_milestone_year,age_last_milestone_year,relationships,funding_rounds,funding_total_usd,milestones,is_otherstate,has_roundA,has_roundB,has_roundC,has_roundD,avg_participants,is_top500,status,closed_at_year,closed_at_month,first_funding_at_year
0,3.0027,4.6685,6.7041,3,3,375000,3,0,0,0,0,0,1.0000,0,1,2024,11,2009
1,9.9973,7.0055,7.0055,9,4,40100000,1,0,0,1,1,1,4.7500,1,1,2024,11,2005
2,1.0329,1.4575,2.2055,5,1,2600000,2,0,1,0,0,0,4.0000,1,1,2024,11,2010
3,5.3151,6.0027,6.0027,5,3,40000000,1,0,0,1,1,1,3.3333,1,1,2024,11,2005
4,1.6685,0.0384,0.0384,2,2,1300000,1,0,0,0,0,0,1.0000,1,0,2012,1,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
918,0.5178,0.5808,4.5260,9,1,1100000,2,0,1,0,0,0,6.0000,1,1,2024,11,2009
919,9.2274,6.0027,6.0027,1,3,52000000,1,0,0,1,0,0,2.6667,1,0,2024,11,2005
920,8.4959,9.0055,9.0055,5,1,44000000,1,0,0,0,0,1,8.0000,1,0,2024,11,2007
921,2.8329,0.7589,3.8356,12,2,15500000,2,0,1,1,0,0,1.0000,1,1,2024,11,2009
922,3.1205,4.0027,4.0027,4,1,20000000,1,0,0,1,0,0,3.0000,1,1,2024,11,2006

In [5]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 923 entries, 0 to 922
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age_last_funding_year     923 non-null    float64
 1   age_first_milestone_year  923 non-null    float64
 2   age_last_milestone_year   923 non-null    float64
 3   relationships             923 non-null    int64
 4   funding_rounds            923 non-null    int64
 5   funding_total_usd         923 non-null    int64
 6   milestones                923 non-null    int64
 7   is_otherstate             923 non-null    int64
 8   has_roundA                923 non-null    int64
 9   has_roundB                923 non-null    int64
 10  has_roundC                923 non-null    int64
 11  has_roundD                923 non-null    int64
 12  avg_participants          923 non-null    float64
 13  is_top500                 923 non-null    int64
 14  status                    923 non-null    int64
 15  closed_at_year            923 non-null    int64
 16  closed_at_month           923 non-null    int64
 17  first_funding_at_year     923 non-null    int64
dtypes: float64(4), int64(14)
memory usage: 129.9 KB

In [6]:
df2['age_last_funding_year'] = df2['age_last_funding_year'].astype(int)
df2['age_first_milestone_year'] = df2['age_first_milestone_year'].astype(int)
df2['age_last_milestone_year'] = df2['age_last_milestone_year'].astype(int)
df2['avg_participants'] = df2['avg_participants'].astype(int)

In [11]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 923 entries, 0 to 922
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age_last_funding_year     923 non-null    int64
 1   age_first_milestone_year  923 non-null    int64
 2   age_last_milestone_year   923 non-null    int64
 3   relationships             923 non-null    int64
 4   funding_rounds            923 non-null    int64
 5   funding_total_usd         923 non-null    int64
 6   milestones                923 non-null    int64
 7   is_otherstate             923 non-null    int64
 8   has_roundA                923 non-null    int64
 9   has_roundB                923 non-null    int64
 10  has_roundC                923 non-null    int64
 11  has_roundD                923 non-null    int64
 12  avg_participants          923 non-null    int64
 13  is_top500                 923 non-null    int64
 14  status                    923 non-null    int64
 15  closed_at_year            923 non-null    int64
 16  closed_at_month           923 non-null    int64
 17  first_funding_at_year     923 non-null    int64
dtypes: int64(18)
memory usage: 129.9 KB

In [12]:
# pip install sklearn_pandas

In [13]:
X = df2.drop(['status'],axis=1)
Y = df2['status']

In [16]:
Y.shape

(923,)

In [17]:
#covert numerical format
from sklearn_pandas import DataFrameMapper
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.ensemble import RandomForestClassifier

In [24]:
df2.to_csv("new.csv")

In [25]:
df2

,age_last_funding_year,age_first_milestone_year,age_last_milestone_year,relationships,funding_rounds,funding_total_usd,milestones,is_otherstate,has_roundA,has_roundB,has_roundC,has_roundD,avg_participants,is_top500,status,closed_at_year,closed_at_month,first_funding_at_year
0,3,4,6,3,3,375000,3,0,0,0,0,0,1,0,1,2024,11,2009
1,9,7,7,9,4,40100000,1,0,0,1,1,1,4,1,1,2024,11,2005
2,1,1,2,5,1,2600000,2,0,1,0,0,0,4,1,1,2024,11,2010
3,5,6,6,5,3,40000000,1,0,0,1,1,1,3,1,1,2024,11,2005
4,1,0,0,2,2,1300000,1,0,0,0,0,0,1,1,0,2012,1,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
918,0,0,4,9,1,1100000,2,0,1,0,0,0,6,1,1,2024,11,2009
919,9,6,6,1,3,52000000,1,0,0,1,0,0,2,1,0,2024,11,2005
920,8,9,9,5,1,44000000,1,0,0,0,0,1,8,1,0,2024,11,2007
921,2,0,3,12,2,15500000,2,0,1,1,0,0,1,1,1,2024,11,2009
922,3,4,4,4,1,20000000,1,0,0,1,0,0,3,1,1,2024,11,2006

In [26]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 923 entries, 0 to 922
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age_last_funding_year     923 non-null    int64
 1   age_first_milestone_year  923 non-null    int64
 2   age_last_milestone_year   923 non-null    int64
 3   relationships             923 non-null    int64
 4   funding_rounds            923 non-null    int64
 5   funding_total_usd         923 non-null    int64
 6   milestones                923 non-null    int64
 7   is_otherstate             923 non-null    int64
 8   has_roundA                923 non-null    int64
 9   has_roundB                923 non-null    int64
 10  has_roundC                923 non-null    int64
 11  has_roundD                923 non-null    int64
 12  avg_participants          923 non-null    int64
 13  is_top500                 923 non-null    int64
 14  status                    923 non-null    int64
 15  closed_at_year            923 non-null    int64
 16  closed_at_month           923 non-null    int64
 17  first_funding_at_year     923 non-null    int64
dtypes: int64(18)
memory usage: 129.9 KB

In [27]:
df2['age_last_funding_year'].unique()

array([ 3,  9,  1,  5,  4,  6, 11,  2,  8,  7,  0, 10, 20, -1, 16, 12, 14,
       -9, 21, 13])

In [28]:
df2['age_first_milestone_year'].unique()

array([  4,   7,   1,   6,   0,   5,   3,   8,   2,  10,  -1,   9, -14,
        11,  -2,  12,  16,  -6,  -3,  13,  24,  15,  -7])

In [29]:
df2['age_last_milestone_year'].unique()

array([ 6,  7,  2,  0,  5,  9, 10,  4,  8, 12,  3,  1, -1, 11, 13, 14, 18,
       -3, 24, 15, -7])

In [30]:
df2['relationships'].unique()

array([ 3,  9,  5,  2,  6, 25, 13, 14, 22,  8,  0, 15, 12,  7, 10,  1,  4,
       37, 18, 26, 11, 17, 24, 16, 21, 27, 30, 33, 32, 23, 57, 20, 35, 19,
       45, 31, 29, 63, 42, 28, 38])

In [31]:
df2['funding_rounds'].unique()

array([ 3,  4,  1,  2,  5,  7,  6, 10,  8])

In [32]:
df2['funding_total_usd'].unique()

array([    375000,   40100000,    2600000,   40000000,    1300000,
          7500000,   26000000,   34100000,    9650000,    5750000,
         27500000,   10400000,     350000,    9950000,   10700000,
           200000,   49000000,   25000000,    4575000,   28000000,
          4355000,   15000000,    3170000,    2300000,     455000,
         13000000,    3800000,  299500000,    1000000,   10500000,
          8600000,    5000000,    2304999,      25000,    4000000,
         14600000,   44000000,    1822922,   29915001,   33000000,
           125000,   10000000,    6000000,    3750000,    3000000,
          1155000,   11500000,   29000000,   34700000,   12050000,
         12000000,    5500000,   24000000,   19009671,   18914576,
          2030882,   20500000,   13250000,   11489687,     355000,
           118000,   40400000,   19700000,   17800000,   57500000,
         17200000,     457282,   18500000,  510000000,   18250000,
         41500019,   42700000,   22300000,   15564591,     500000,
          8950000,   55350000,   10764323,     400000,   54000000,
         32000000,   12500000,   38064570,   59000000,     600000,
        125000000,    2750000,   30000000,    7000000,    6100000,
          2100000,    2565000,    2000000,   22400000,    6250000,
           575000,      53000,    9500000,    3500000,   34250000,
         85381111,  100000000,   10600000,   26100000,     132885,
         18000000,     690000,   25131611,   78750000,   48500000,
         74000000,   45000000,    4410000,    4500000,   11040000,
          1600000,    9000000,    3282327,   24700000,    8800000,
          1700000,      20000,   98170000,    1350000,     940261,
          7228704,   55000000,   15180000,   14500000,    6500000,
            15000,    4705910,  125250000,    1449998,   28200000,
         14000000,    2238055,    5200000,   75000000,   24500000,
          4476171,   10400001,   68400000,   15200000,     890000,
          1226270,    7210210,   15700000,   15050000,   43000000,
         57000000,   69750000,   48000000,    3508462,   19500000,
         32500000,    4900000,    7175000,    4700000,     120000,
         39000000,   16100000,    3300000,     750000,    7410000,
         52800000,   37000000,   14229998,   20000000,   19900000,
          1500000,     325000,   50000000,   72000000,   27690547,
          5965000,    1050000,    3700000,    7900000,   80000000,
         22250000,    1975000,   35000000,   88651133,     100000,
          7300000,   64080000,    5800000,   89500000,   23350000,
         13500000,    8500000,    4100000,    6200000,   12250000,
         11725600,   16000000,    5056559,   68200000,    3352194,
          2212000,   19800000,    9900000,    7600000,      50000,
           650000,   24300000,   16980999,   13130000,   26500000,
         21470000,    3600000,   27300000,   17000000,     662000,
          6700000,   20750000,   19000000,   22500000,   26390819,
            31000,   21500000,    9400000,    5600000,   60704370,
         24750000,   12800000,   30500000,   36300000,    6693782,
         11370000,   16500000,     250000,   14400000,   90000000,
         13075000,   16300000,    5992316,   89400001,    1200000,
          1900000,   30300000,   18800000,    3350000,    1213066,
         24030000,   13100000,     560001,  121500000,   42500000,
         36000000,   12170000,    1820000, 5700000000,   72300000,
          1310000,   39007789,     172500,   40300000,   19389998,
         61500000,   19100000,    3499997,    2023000,   66000000,
         24150000,   47218498,   11800000,    2387481,   25305000,
          4950000,   53816776,    2515000,    8400000,   11000000,
         10800000,    7660000,   48730000,    2500000,    8000000,
           540000,    3100000,   37079000,  135826373,    4200000,
           185000,    9200000,     435953,   55600000,      12000,
          2257464,     983000,   41000000,    9100000,   25500100,
         22165091,   70000000,   42000000,   24510540,   21460663,
           889999,   64630000,   12100000,   49600000,   51450000,
          6300000,   11600000,    9150000,    1415000,   13875001,
           275000,   19743770,    1178000,     205000,   28300000,
          9030000,   69900000,  238209999,   14700000,     430000,
          1015000,   17100000,     900000,   15100000,   62600000,
         14800000,    6875000,      30000,   22200000,     415000,
         27063781,   17400000,   46800000,    1525000,   12400000,
           675000,   78573646,   15286415,    3200000,   14650003,
         23500000,     980000,   25200000,   61000000,   46300000,
         81017493,   12010000,   22000000,   76000000,    9356180,
         13600000,   21138876,    2345000,    1100000,      59700,
          2350000,      21189,   69600000,   21750000,   23400000,
          4300000,   51000000,   27101994,    6480000,   11300000,
            19000,   78500000,   43600000,  142000000,   26800000,
         55900000,   31500000,   58000000,   29050000,   21000000,
         30920000,   29288979,   24200000,    5550000,   14300000,
         14100000,   11035000,   12700000,   20757182,   27000000,
         20220000,    7350000,   18700000,    5900000,   32006000,
         13400000,   15324624,    1175000,   35150000,    2408500,
         18400000,  162264126,    8700000,   73000000,   12123837,
          5700000,   28500000,    7939553,     545000,   15247925,
           950000,    3915000,    1400000,    9700000,   38764000,
        211403000,    1020000,     150000,   30926154,   15650000,
           154000,    7516703,   65800000,    4087500,     990000,
         69000000,  129677153,  232000100,   23000000,    1420000,
            70000,     850000,    3150000,   10571182,   24900000,
          3529175,    7100000,      11000,   26200000,    5350000,
         11015719,    9807367,    2535000,     475000,  122000000,
          1750000,     130000,   13222860,    2192000,   13045000,
          3250000,  148000000,      72000,   10360000,   64000000,
          1830000,    9800000,   36500000,   33672656,    2250000,
         53818873,   30150000,   83000000,    1420698,   67000000,
         53000000,     300000,    9600000,   58200000,   16700000,
         11400000,   10100000,    3011408,    5675000,     700000,
           532000,   12300000,   25413298,   10000003,   11450000,
         22487000,    7800000,   71400000,   25500000,   28932322,
         35200000,   22100000,     626096,   20350000,     425000,
         37891054,     770000,   19550000,   45039999,    4600000,
         21900000,     240000,    1800000,    6760000,   26914000,
           954000,   23100000,  108900000,    5686383,   49008830,
         32200000,    2700000,  122500000,   52000000,   15500000])

In [33]:
df2['funding_total_usd'].describe()

count    9.230000e+02
mean     2.541975e+07
std      1.896344e+08
min      1.100000e+04
25%      2.725000e+06
50%      1.000000e+07
75%      2.472500e+07
max      5.700000e+09
Name: funding_total_usd, dtype: float64

In [34]:
df2['milestones'].unique()

array([3, 1, 2, 4, 0, 5, 6, 8])

In [35]:
df2['is_otherstate'].unique()

array([0, 1])

In [36]:
df2['avg_participants'].unique()

array([ 1,  4,  3,  2,  5,  9,  6,  7, 10,  8, 12, 11, 16])

In [37]:
df2['closed_at_year'].unique()

array([2024, 2012, 2011, 2013, 2010, 2008, 2009, 2001, 2005, 2007])

In [38]:
df2['closed_at_month'].unique()

array([11,  1,  2, 10,  7,  4,  3,  8,  6,  9, 12,  5])

In [39]:
df2['first_funding_at_year'].unique()

array([2009, 2005, 2010, 2006, 2007, 2008, 2003, 2012, 2011, 2002, 2001,
       2004, 2013, 2000])

In [ ]:
# dm = DataFrameMapper([
#     (["closed_at",LabelEncoder()]),
#     (["first_funding_at",LabelEncoder()])
    
#                       ])

In [18]:
X = df2.drop(['status'],axis=1)
Y = df2['status']

In [19]:
X

,age_last_funding_year,age_first_milestone_year,age_last_milestone_year,relationships,funding_rounds,funding_total_usd,milestones,is_otherstate,has_roundA,has_roundB,has_roundC,has_roundD,avg_participants,is_top500,closed_at_year,closed_at_month,first_funding_at_year
0,3,4,6,3,3,375000,3,0,0,0,0,0,1,0,2024,11,2009
1,9,7,7,9,4,40100000,1,0,0,1,1,1,4,1,2024,11,2005
2,1,1,2,5,1,2600000,2,0,1,0,0,0,4,1,2024,11,2010
3,5,6,6,5,3,40000000,1,0,0,1,1,1,3,1,2024,11,2005
4,1,0,0,2,2,1300000,1,0,0,0,0,0,1,1,2012,1,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
918,0,0,4,9,1,1100000,2,0,1,0,0,0,6,1,2024,11,2009
919,9,6,6,1,3,52000000,1,0,0,1,0,0,2,1,2024,11,2005
920,8,9,9,5,1,44000000,1,0,0,0,0,1,8,1,2024,11,2007
921,2,0,3,12,2,15500000,2,0,1,1,0,0,1,1,2024,11,2009
922,3,4,4,4,1,20000000,1,0,0,1,0,0,3,1,2024,11,2006

In [20]:
Y

0      1
1      1
2      1
3      1
4      0
      ..
918    1
919    0
920    0
921    1
922    1
Name: status, Length: 923, dtype: int64

In [21]:
ml =[]
# ml.append(['mapper',dm])
ml.append(['sc',StandardScaler()])
ml.append(['RF',RandomForestClassifier()])
ml

[['sc', StandardScaler()], ['RF', RandomForestClassifier()]]

In [22]:
from sklearn.pipeline import Pipeline
import warnings
warnings.filterwarnings('ignore')

In [23]:
model = Pipeline(ml)
model.fit(X,Y)

Pipeline(steps=[('sc', StandardScaler()), ['RF', RandomForestClassifier()]])

In [40]:
dict(df2.iloc[5,:])

{'age_last_funding_year': np.int64(4),
 'age_first_milestone_year': np.int64(5),
 'age_last_milestone_year': np.int64(5),
 'relationships': np.int64(3),
 'funding_rounds': np.int64(1),
 'funding_total_usd': np.int64(7500000),
 'milestones': np.int64(1),
 'is_otherstate': np.int64(0),
 'has_roundA': np.int64(0),
 'has_roundB': np.int64(1),
 'has_roundC': np.int64(0),
 'has_roundD': np.int64(0),
 'avg_participants': np.int64(3),
 'is_top500': np.int64(1),
 'status': np.int64(0),
 'closed_at_year': np.int64(2024),
 'closed_at_month': np.int64(11),
 'first_funding_at_year': np.int64(2006)}

In [41]:
import numpy as np
data ={'age_last_funding_year': np.int64(4),
 'age_first_milestone_year': np.int64(5),
 'age_last_milestone_year': np.int64(5),
 'relationships': np.int64(3),
 'funding_rounds': np.int64(1),
 'funding_total_usd': np.int64(7500000),
 'milestones': np.int64(1),
 'is_otherstate': np.int64(0),
 'has_roundA': np.int64(0),
 'has_roundB': np.int64(1),
 'has_roundC': np.int64(0),
 'has_roundD': np.int64(0),
 'avg_participants': np.int64(3),
 'is_top500': np.int64(1),

 'closed_at_year': np.int64(2024),
 'closed_at_month': np.int64(11),
 'first_funding_at_year': np.int64(2006)}

new_data = pd.DataFrame(data,index=[0])
new_data

,age_last_funding_year,age_first_milestone_year,age_last_milestone_year,relationships,funding_rounds,funding_total_usd,milestones,is_otherstate,has_roundA,has_roundB,has_roundC,has_roundD,avg_participants,is_top500,closed_at_year,closed_at_month,first_funding_at_year
0,4,5,5,3,1,7500000,1,0,0,1,0,0,3,1,2024,11,2006

In [42]:
model.predict(new_data)

array([0])

In [43]:
import pickle
with open('final_model.sav',mode='wb')as f:
    pickle.dump(model,f)

In [44]:
df2.describe()

,age_last_funding_year,age_first_milestone_year,age_last_milestone_year,relationships,funding_rounds,funding_total_usd,milestones,is_otherstate,has_roundA,has_roundB,has_roundC,has_roundD,avg_participants,is_top500,status,closed_at_year,closed_at_month,first_funding_at_year
count,923.000000,923.000000,923.000000,923.000000,923.000000,9.230000e+02,923.000000,923.000000,923.000000,923.000000,923.000000,923.000000,923.000000,923.000000,923.000000,923.000000,923.000000,923.000000
mean,3.477790,2.293608,3.640303,7.710726,2.310943,2.541975e+07,1.841820,0.221018,0.508126,0.392199,0.232936,0.099675,2.679307,0.809317,0.646804,2020.833153,8.839653,2007.475623
std,2.938689,2.840945,3.305911,7.265776,1.390922,1.896344e+08,1.322632,0.415158,0.500205,0.488505,0.422931,0.299729,1.859219,0.393052,0.478222,5.493864,3.988904,2.293583
min,-9.000000,-14.000000,-7.000000,0.000000,1.000000,1.100000e+04,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,2001.000000,1.000000,2000.000000
25%,1.000000,0.000000,1.000000,3.000000,1.000000,2.725000e+06,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,2013.000000,11.000000,2006.000000
50%,3.000000,2.000000,3.000000,5.000000,2.000000,1.000000e+07,2.000000,0.000000,1.000000,0.000000,0.000000,0.000000,2.000000,1.000000,1.000000,2024.000000,11.000000,2007.000000
75%,5.000000,4.000000,6.000000,10.000000,3.000000,2.472500e+07,3.000000,0.000000,1.000000,1.000000,0.000000,0.000000,3.000000,1.000000,1.000000,2024.000000,11.000000,2009.000000
max,21.000000,24.000000,24.000000,63.000000,10.000000,5.700000e+09,8.000000,1.000000,1.000000,1.000000,1.000000,1.000000,16.000000,1.000000,1.000000,2024.000000,12.000000,2013.000000

In [45]:
df2

,age_last_funding_year,age_first_milestone_year,age_last_milestone_year,relationships,funding_rounds,funding_total_usd,milestones,is_otherstate,has_roundA,has_roundB,has_roundC,has_roundD,avg_participants,is_top500,status,closed_at_year,closed_at_month,first_funding_at_year
0,3,4,6,3,3,375000,3,0,0,0,0,0,1,0,1,2024,11,2009
1,9,7,7,9,4,40100000,1,0,0,1,1,1,4,1,1,2024,11,2005
2,1,1,2,5,1,2600000,2,0,1,0,0,0,4,1,1,2024,11,2010
3,5,6,6,5,3,40000000,1,0,0,1,1,1,3,1,1,2024,11,2005
4,1,0,0,2,2,1300000,1,0,0,0,0,0,1,1,0,2012,1,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
918,0,0,4,9,1,1100000,2,0,1,0,0,0,6,1,1,2024,11,2009
919,9,6,6,1,3,52000000,1,0,0,1,0,0,2,1,0,2024,11,2005
920,8,9,9,5,1,44000000,1,0,0,0,0,1,8,1,0,2024,11,2007
921,2,0,3,12,2,15500000,2,0,1,1,0,0,1,1,1,2024,11,2009
922,3,4,4,4,1,20000000,1,0,0,1,0,0,3,1,1,2024,11,2006

In [46]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 923 entries, 0 to 922
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age_last_funding_year     923 non-null    int64
 1   age_first_milestone_year  923 non-null    int64
 2   age_last_milestone_year   923 non-null    int64
 3   relationships             923 non-null    int64
 4   funding_rounds            923 non-null    int64
 5   funding_total_usd         923 non-null    int64
 6   milestones                923 non-null    int64
 7   is_otherstate             923 non-null    int64
 8   has_roundA                923 non-null    int64
 9   has_roundB                923 non-null    int64
 10  has_roundC                923 non-null    int64
 11  has_roundD                923 non-null    int64
 12  avg_participants          923 non-null    int64
 13  is_top500                 923 non-null    int64
 14  status                    923 non-null    int64
 15  closed_at_year            923 non-null    int64
 16  closed_at_month           923 non-null    int64
 17  first_funding_at_year     923 non-null    int64
dtypes: int64(18)
memory usage: 129.9 KB